:root {
  --primary: green;
  --error: red;
}

body {
  background: white;
  margin: 0;
  font-family: "Georgia";
}

header {
  background: gray;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

header #clock {
  float: right;
}

header a {
  color: black;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.character-details {
  background: lightblue;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px black;
}

